.container {
  max-width: $container+px;
  padding: 0 gutter(2);

  &--small {
    max-width: gutter(120);
    padding: 0 gutter(2);
    margin: auto;
  }

  &--medium {
    max-width: 1400px;
    padding: 0 gutter(2);
    margin: auto;
  }

  &-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}
