.apartment {
  $root: &;

  min-height: 100vh;
  background-color: $bg;
  color: lighten($black, 40);

  &__hero {
    display: grid;
    grid-template-columns: 54% auto;
    min-height: calc(100vh - 120px);

    @include media("<1300px") {
      grid-template-columns: 1fr;
    }
  }

  &__content {
    @include cssLock("padding-left", 600, 1920, (10, 120));
    @include cssLock("padding-right", 600, 1920, (10, 120));

    padding-top: gutter(4);
    padding-bottom: gutter(4);

    @include media("<lg") {
      padding: gutter(5) gutter(2);
    }

    ul {
      list-style-type: none;
    }

    li {
      position: relative;

      &::before {
        content: "\2022";
        position: absolute;
        top: -0.25em;
        font-size: gutter(2.5);
        color: $primary;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -0.8em;
      }
    }
  }

  &__table {
    color: $black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: gutter(4) 0 gutter(4);
    padding-bottom: gutter(1.5);
    border-bottom: 1px solid $primary;
  }

  &__label {
    display: block;
    color: lighten($black, 40);
    margin-bottom: gutter(0.5);
  }

  &__video {
    width: 100%;
    position: relative;
    animation: showImg $transition*1.5 cubic-bezier(0.57, 0.34, 0.65, 0.8) both;
    transform-origin: left;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: $black;
      width: 100%;
      height: 100%;
      pointer-events: none;
      opacity: 1;
    }

    @include media("<md") {
      height: gutter(40);
    }

    svg {
      @include cssLock("width", 360, 1920, (64, 128));
      @include center;

      z-index: 10;

      circle {
        transition: $transition cubic-bezier(0.17, 0.67, 0.83, 0.67);
        transform-origin: center;
      }

      path {
        transition: $transition cubic-bezier(0.27, 0.67, 0.43, 0.67);
      }
    }

    &:hover {
      circle {
        transform: scale(0.9);
        opacity: 0.2;
      }

      path {
        opacity: 0.8;
      }

      #{$root}__cover {
        opacity: 0.7;
      }
    }
  }

  &__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.99;
    transition: $transition ease-in;
  }

  &__photos {
    padding: gutter(10) 0 gutter(2);

    @include media("<lg") {
      padding: gutter(4) 0;
    }

    @include media("<md") {
      padding: gutter(2) 0;
    }
  }

  &__header {
    @include cssLock("font-size", 360, $container, (17, 21));

    display: block;
    text-align: center;
    max-width: gutter(60);
    margin: gutter(4) auto gutter(14);
    position: relative;

    @include media("<md") {
      margin-bottom: gutter(10);

      br {
        display: none;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: - gutter(3);
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: gutter(30);
      background-color: $primary;
    }
  }

  &__image {
    width: 100%;
    height: gutter(55);
    margin-bottom: gutter(4);

    @include media("<lg") {
      margin-bottom: gutter(2);
      height: gutter(40);
    }

    @include media("<md") {
      height: gutter(30);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: gutter(4);
    padding: 0;

    @include media("<xl") {
      grid-template-columns: 1fr 1fr;
      gap: gutter(2);
    }

    @include media("<md") {
      grid-template-columns: 1fr;
      gap: gutter(2);
    }

    &-item {
      width: 100%;
      height: gutter(40);

      @include media("<lg") {
        height: gutter(30);
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@keyframes showImg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
