.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: gutter(120);
  margin: auto;
  color: rgba($black-light, 0.8);

  @include media("<lg") {
    grid-template-columns: 1fr;
    text-align: center;

    .form__button {
      text-align: center !important;
    }
  }

  &__data {
    margin: gutter(6) 0;

    @include media("<lg") {
      margin-bottom: gutter(10);
    }
  }

  &__title {
    color: $black;

    @include media("<lg") {
      &::after {
        display: none;
      }
    }
  }
}
